/* Main page styling starts */
*{
    margin:0;
    padding: 0;
}
body{
	font-family: Garamond Regular;
	background-image: url(../images/background.png);
	background-position:top  center;
	background-repeat: repeat;
	background-attachment: fixed ;
}
#container{
	width: 960px;
	margin: 0 auto;
   	background-color: #fff;
}
#header_content{
	width:100%;
	min-height: 114px;
	background-color: #111213;
	padding:4px 20px 4px 20px;
	box-sizing:border-box;
}
#search{
	width:50%;
	margin: 0 auto;
	min-height: 68px;
	float:right;
	position: relative;
}
#search_content{
	position: absolute;
	right:0px;
	top:15px;
	border-radius: 10px;
	padding:2px 2px 2px 2px;
	box-sizing: border-box;
	box-shadow: 1px 1px 100px 10px #323334;
  }

#logo{
	width:43%;
	float:left;
    margin: 0 auto;
	height: 110px;
	position: relative;
}
#logo img{
    position: absolute;
    top:25px;
}
#header_content nav{
    width:55%;
    margin: 0 auto;
    float:right;
    font-size: 13px;
}
#header_content nav ul{
    width: 100%;
    height: 100%;
    padding-left: 35px;
    list-style: none;
    box-sizing:border-box;

}
#header_content nav ul li{
    float:left;
    margin-left: 10px;
}
#header_content ul li a{
    display: block;
    text-decoration: none;
    color:#fff;
    transition: 0.2s ease all;
}
#header_content ul li a:hover{ 
    color:#d0d0d0;
}
/* slider */
#slider{
	width:100%;
	max-height: 360px;
	float:left;
}

.slides{
	display: none;
	max-height: 360px;
	width:100%;
    border: 0px;
   
}

/* Fading animation */
.slides-animate-fading{
    animation:fading 10s infinite;
    background-color: rgba(0,0,0,0.8);
}
.text{
    width:100%;
	padding:25px 25px 25px 25px;
	box-sizing:border-box;
	background-color: #111213;
	height:120px;
	color:#a3a3a3;
	float:left;
  
}
.text_content h6{
	width:70%;
	float:left;
     font-family: Garamond Regular;
        font-size: 30px;
    font-weight: normal;
}
.social_icons{
	width:30%;
	float:right;
}
/*main content*/
main{
	width:100%;
	overflow: auto;
}

.main_content{
	width:670px;
	height: auto;
	padding: 30px 20px 30px 20px;
	float:left;
}

.side_content1{
	width:100%;
	height: auto;
	float:left;
	position: relative;
	padding: 30px 0 30px 0;
	box-sizing: border-box;
	border-bottom:1px solid #f6f6f6;
}
	.side_content1 h3,  h5,  p{
		line-height: 1.8;
		float:left;
		width:100%;
	}
	.side_content1 h5{
		color:#2c83b0;
		font-size:11px;
	}
	.side_content1 p{
		padding:5px 10px 0px 0px;
		box-sizing: border-box;
        font-family: Georgia regular;
		font-size:13px;
	}
	.side_content1 div{
		float:left;
	}
	.side_content1 button{
		position:absolute;
		bottom: 35px;
		left:180px;
		padding:5px 40px 5px 40px;
		font-size: 12px;
		border-radius: 5px;
		color:#fff;
		background:linear-gradient(to top right, #4681a0 , #5ba8d0);
		border:none;
		box-shadow: 0px 2px 1px 0px #000;
	}
	.side_content1 img{
		border:5px solid #e9e9e9;
	}
.side_img{
	width:150px;
	padding-right: 15px;
}
.side_text{
	width:470px;
	padding-left: 15px;
}
#side_content2{
	width:250px;
	height: auto;
	float:left;
	padding: 30px 0 30px 30px;
	box-sizing: border-box;
	background-color:#f2f2f2;
	background: linear-gradient(#e7e7e7, #f2f2f2, #fff);
}
.side_bar h2{
    margin-bottom: 30px;
    font-family: Garamond regular;
    font-weight: normal;
	}
.side_bar a{
	text-decoration: none;
     font-family: Georgia regular;
    font-size: 13px;
    color:#2c83b0;
}
.side_bar{
	margin-bottom: 30px;
}
.side_bar p{
	 font-family: Georgia regular;
     font-size: 13px;
}
.side_bar h4{
		margin-bottom: 30px;
        font-family: Georgia regular;
        font-size: 13px;
        font-weight: normal;
	}
.side_bar ul{
		margin-bottom: 30px;
        list-style: none;
        font-family: Georgia regular;
        font-size: 13px;
	}
.side_bar ul li{
	    margin-bottom: 5px;
        font-family: Georgia regular;
        font-size: 13px;
	}
#pages{
	width:100%;
	min-height: 50px;
	float:left;
	padding: 30px 0 30px 30px;
	color:gray;
	box-sizing: border-box;
     font-family: Garamond regular;
    font-size: 13px;
}
#pages ul{
		width:100%;
       list-style: none;
       
	}
#pages ul li{
			float:left;
			background-color: #eeeeee;
			margin-right: 5px;
    
		}
			#pages ul li:first-of-type{
				width:80px;
				height:30px;
				line-height: 30px;
				text-align: center;
			}
			#pages ul li a{
				display:block;
				width:30px;
				height:30px;
				line-height: 30px;
				text-align: center;
				color:gray;
                text-decoration: none;
                
			}
				.active{
					background-color:gray;
					color:white !important;
					padding:0px;
				}
/*sponsor */
.sponsors{
	width:100%;
	min-height: 1px;
	float:left;
	padding: 30px 0 30px 30px;
	box-sizing: border-box;
}
	.sponsors img{
		position: absolute;
	    margin: auto;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    max-height: 75px;
	    max-width: 130px;
	}
	.sponsors h2{
		margin-bottom: 50px;
        font-weight: 400;
	}

.sponsor_content{
	width: 130px;
	height: 75px;
	float:left;
	border:5px solid #f6f6f6;
	margin:0 10px 10px 0;
	position: relative;
}
/*footer */

footer{
	width:100%;
	min-height: 100px;
	background-color:#0f0f0f;
	float:left;
	overflow: auto;
	padding: 30px 0 30px 30px;
	box-sizing: border-box;
}

.footer_content{
	width:calc(100% / 3);
	float:left;
	color:#6f6e6e;
	padding: 0 20px 0 0px;
	box-sizing: border-box;
}

.footer_content h2{
	color:#ebebeb;
	margin-bottom:10px;
}

.footer_content p{
	color:#8f8f8f;
	margin:12px 0;
     font-family: Georgia regular;
        font-size: 13px;
    padding:2px;
    
}
.p_text{
	color:#a3a3a3;
	margin:12px 0;
     font-family: Georgia regular;
        font-size: 13px;
    padding:2px;
    
}

.footer_content h4{
	color:#8f8f8f;
	margin-bottom: 10px;
     font-family: Georgia regular;
	font-size:13px;
}
.footer_content ul{
    margin-bottom: 10px;
	 font-family: Georgia regular;
        font-size: 13px;
    list-style: none;
   
}
.footer_content ul li{
	    
        font-family: Georgia regular;
        font-size: 13px;
   line-height: 20px;
	}

.footer_content img{
	margin-top:30px;
}
/* MEDIA QUERIES */ 

@media screen and (max-width: 960px) {
  #container, #logo, .main_content, #sidebar, #slider {
  	width:100%;

  }
  header{
  	padding:0;
  }
	  header nav{
	  	position:fixed;
	  	text-align: center;
	  	width:inherit;
	  	height:30px;
	  	line-height: 30px;
	  	background-color: rgba(0,0,0,0.3);  
	  	z-index: 999;
	  }
	  	header nav ul {
	  		padding-left:0;
	  	}
		  	header nav ul li{
		  		width:calc(100% / 6);
		  		margin-left: 0;
		  	}
  	
  .main_content{
	padding: 30px 0 30px 0;
  }

  #search{
	width:100%;
	height: 30px;
	background-color:black;
	display: block;
  }
  #search_content{
	width:80%;
	height:30px;
	left:10%;
  }

  .side_content1 button{
		bottom: 0;
		left:15px;
		box-shadow: 0px 2px 1px 0px #000;
	}
}
